@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-950 text-white;
}

/*-- -------------------------- -->
<---        Animations          -->
<--- -------------------------- -*/

/* Glow effect with breathing animation */
@keyframes breathe-glow {
  0% {
    box-shadow: 0 0 0px 0px #63dddd74, 0 0 0px 0px #63dddd74;
  }
  50% {
    box-shadow: 0 0 5px 2px #63DCDD, 0 0 10px 4px #63DCDD;
  }
  25%, 75% {
    box-shadow: 0 0 10px 4px #63DCDD, 0 0 20px 8px #63DCDD;
  }
  100% {
    box-shadow: 0 0 0px 0px #63dddd74, 0 0 0px 0px #63dddd74;
  }
}

@keyframes breathe-glow-continuous {
  0%, 50%, 100%{
    box-shadow: 0 0 3px 1px #63DCDD, 0 0 5px 2px #63DCDD;
  }
  25%, 75% {
    box-shadow: 0 0 6px 3px #63DCDD, 0 0 10px 6px #63DCDD;
  }
}

.glow-effect {
  animation: breathe-glow 3.5s ease-in-out;
}

.glow-effect-email {
  animation: breathe-glow-continuous 8s infinite ease-in-out;
}


/* Loader effect when submitting email to join waitlist */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #EA41F7;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Standardised text sizing */
@layer utilities {
  .large-heading {
    @apply text-3xl sm:text-7xl md:text-8xl;
  }
  .medium-heading {
    @apply text-xl sm:text-2xl md:text-3xl;
  }
  .paragraph-text {
    @apply text-lg md:text-xl;
  }
}

/* Glitch effect animation for headings */
@layer utilities {
  @keyframes animate-glitch {
    0% {
      clip: rect(99px, 9999px, 45px, 0);
    }
    5% {
      clip: rect(7px, 9999px, 49px, 0);
    }
    10% {
      clip: rect(52px, 9999px, 79px, 0);
    }
    15% {
      clip: rect(30px, 9999px, 42px, 0);
    }
    20% {
      clip: rect(37px, 9999px, 43px, 0);
    }
    25% {
      clip: rect(38px, 9999px, 9px, 0);
    }
    30% {
      clip: rect(34px, 9999px, 93px, 0);
    }
    35% {
      clip: rect(18px, 9999px, 84px, 0);
    }
    40% {
      clip: rect(100px, 9999px, 75px, 0);
    }
    45% {
      clip: rect(15px, 9999px, 4px, 0);
    }
    50% {
      clip: rect(14px, 9999px, 10px, 0);
    }
    55% {
      clip: rect(4px, 9999px, 75px, 0);
    }
    60% {
      clip: rect(17px, 9999px, 55px, 0);
    }
    65% {
      clip: rect(75px, 9999px, 57px, 0);
    }
    70% {
      clip: rect(39px, 9999px, 84px, 0);
    }
    75% {
      clip: rect(96px, 9999px, 54px, 0);
    }
    80% {
      clip: rect(45px, 9999px, 25px, 0);
    }
    85% {
      clip: rect(60px, 9999px, 100px, 0);
    }
    90% {
      clip: rect(5px, 9999px, 6px, 0);
    }
    95% {
      clip: rect(49px, 9999px, 57px, 0);
    }
    100% {
      clip: rect(54px, 9999px, 90px, 0);
    }
  }

  .glitch-effect {
    @apply relative text-center;
    margin: 0 auto;
  }

  .glitch-effect::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background-color: #141414;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: animate-glitch 1.5s linear alternate-reverse;
  }

  .glitch-effect::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: var(--turquoise);
    background-color: #141414;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: animate-glitch 2s linear alternate-reverse;
  }
}


@layer utilities {
  @keyframes flicker-tier-1 {
    0%, 19%, 20.6%, 22.2%, 100% {
      opacity: 1;
      box-shadow: 0 0 6px 1px #FFD700, 0 0 12px 2px #FFD700, 0 0 18px 3px #FFD700;
    }
    19.8%, 21.4% {
      opacity: 0.8;
      box-shadow: 0 0 3px 1px #FFD700, 0 0 6px 2px #FFD700, 0 0 9px 2px #FFD700;
    }
  }

  @keyframes flicker-tier-2 {
    0%, 75%, 80%, 100% {
      opacity: 1;
      box-shadow: 0 0 6px 1px #C0C0C0, 0 0 12px 2px #C0C0C0, 0 0 18px 3px #C0C0C0;
    }
    75.5% {
      opacity: 0.9;
      box-shadow: 0 0 3px 1px #C0C0C0, 0 0 6px 2px #C0C0C0, 0 0 9px 2px #C0C0C0;
    }
  }

  @keyframes flicker-tier-3 {
    0%, 10%, 11%, 12.5%, 55.4%, 55.8%, 56%, 74%, 75%, 100% {
      opacity: 1;
      box-shadow: 0 0 6px 1px #CD7F32, 0 0 12px 2px #CD7F32, 0 0 18px 3px #CD7F32;
    }
    10.5%, 12%, 55.5%, 55.9%, 74.5% {
      opacity: 0.8;
      box-shadow: 0 0 3px 1px #CD7F32, 0 0 6px 2px #CD7F32, 0 0 9px 2px #CD7F32;
    }
  }

  .flicker-tier-1 {
    animation: flicker-tier-1 8s infinite;
  }

  .flicker-tier-2 {
    animation: flicker-tier-2 10s infinite;
  }

  .flicker-tier-3 {
    animation: flicker-tier-3 15s infinite;
  }
}